# Clean Dataset - Air Quality Barcelona'18

In [113]:
import pandas as pd
import numpy as np

In [114]:
clean_data = pd.read_csv(r"C:\Users\kim.buchner\Desktop\Ironhack\Module1\WEEK2\Project-Week-2-Barcelona\your-project\air_quality.csv",index_col=0)

In [115]:
clean_data

,Station,Air Quality,O3 Quality,O3 µg/m3,NO2 Quality,NO2 µg/m3,PM10 Quality,PM10 µg/m3,Date Time,Generated Date,Generated Time,Week Day
0,Sants,Good,NaN,NaN,Good,84.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
1,Eixample,Moderate,Good,1.0,Moderate,113.0,Good,36.0,1541027104,01/11/18,0:00,Thursday
2,Gràcia,Good,Good,10.0,Good,73.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
3,Ciutadella,Good,Good,2.0,Good,86.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
4,Vall Hebron,Good,Good,7.0,Good,69.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...
5739,Ciutadella,Good,Good,10.0,Good,57.0,NaN,NaN,1543615502,30/11/18,23:00,Friday
5740,Vall Hebron,Good,Good,32.0,Good,31.0,Good,21.0,1543615502,30/11/18,23:00,Friday
5741,Palau Reial,Good,Good,40.0,Good,20.0,Good,15.0,1543615502,30/11/18,23:00,Friday
5742,Poblenou,Good,NaN,NaN,Good,70.0,Good,25.0,1543615502,30/11/18,23:00,Friday
5743,Observ Fabra,Good,Good,64.0,Good,21.0,Good,12.0,1543615502,30/11/18,23:00,Friday

## Questions

In [116]:
#Questions to answer

#Most polluted day of the week
#Most polluted day of the whole month
#Peak of pollution daily (what time, all polutants or for each pollutant)

#For all of Barcelona
#For certain stations (center, outside of town, eg. for comparison)

## Most polluted days/pollutant of November

In [117]:
daily_mean = clean_data.groupby(["Generated Date","Week Day"])[["O3 µg/m3", "NO2 µg/m3", "PM10 µg/m3"]].mean()
daily_mean

                           O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Date Week Day
01/11/18       Thursday   41.779412  28.446927   16.031250
02/11/18       Friday     28.124088  37.536723   11.114583
03/11/18       Saturday   30.036232  29.129730   11.389381
04/11/18       Sunday     36.145038  31.457627   10.016667
05/11/18       Monday     31.992537  45.000000   21.572816
06/11/18       Tuesday    42.300000  26.585106   15.061404
07/11/18       Wednesday  35.648855  40.647399   10.325000
08/11/18       Thursday   25.083333  47.743017   16.200000
09/11/18       Friday     29.661765  39.929348   20.446602
10/11/18       Saturday   42.829787  27.931217    9.583333
11/11/18       Sunday     37.798507  29.061111   13.069565
12/11/18       Monday     33.174825  40.099476   20.141667
13/11/18       Tuesday    43.893617  31.793651   28.933333
14/11/18       Wednesday  42.717391  31.715084   28.491667
15/11/18       Thursday   38.408759  32.410811   22.866667
16/11/18       Friday     24.040000  42.419162   15.867347
17/11/18       Saturday   44.727273  26.244444   21.555556
18/11/18       Sunday     56.874126  15.896739   14.658333
19/11/18       Monday     48.525547  26.893855   15.266667
20/11/18       Tuesday    25.362963  44.382514   16.483333
21/11/18       Wednesday  30.830769  38.248588   14.625000
22/11/18       Thursday   31.267176  45.072626   14.208633
23/11/18       Friday     19.514085  49.615789   20.284722
24/11/18       Saturday   33.438849  27.245989   14.395833
25/11/18       Sunday     37.291667  26.594737    8.993056
26/11/18       Monday     28.919118  31.234286   10.580420
27/11/18       Tuesday    35.395683  33.269006   10.033333
28/11/18       Wednesday  24.500000  44.322581   16.000000
29/11/18       Thursday   16.728571  57.117021   24.062500
30/11/18       Friday     23.815603  44.211640   24.652778

In [118]:
daily_mean['O3 µg/m3'].max()

56.87412587412587

In [119]:
daily_mean['NO2 µg/m3'].max()

57.11702127659574

In [120]:
daily_mean['PM10 µg/m3'].max()

28.933333333333334

### Most polluted day O3 µg/m3

In [121]:
daily_mean[daily_mean["O3 µg/m3"] == daily_mean['O3 µg/m3'].max()]

                          O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Date Week Day
18/11/18       Sunday    56.874126  15.896739   14.658333

### Most polluted day NO2 µg/m3

In [122]:
daily_mean[daily_mean["NO2 µg/m3"] == daily_mean['NO2 µg/m3'].max()]

                          O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Date Week Day
29/11/18       Thursday  16.728571  57.117021     24.0625

### Most polluted day PM10 µg/m3

In [123]:
daily_mean[daily_mean["PM10 µg/m3"] == daily_mean['PM10 µg/m3'].max()]

                          O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Date Week Day
13/11/18       Tuesday   43.893617  31.793651   28.933333

## Most polluted day of the week

In [124]:
weekly_mean = daily_mean.copy()

In [125]:
weekly_mean = weekly_mean.reset_index()

In [126]:
weekly_mean

   Generated Date   Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
0        01/11/18   Thursday  41.779412  28.446927   16.031250
1        02/11/18     Friday  28.124088  37.536723   11.114583
2        03/11/18   Saturday  30.036232  29.129730   11.389381
3        04/11/18     Sunday  36.145038  31.457627   10.016667
4        05/11/18     Monday  31.992537  45.000000   21.572816
5        06/11/18    Tuesday  42.300000  26.585106   15.061404
6        07/11/18  Wednesday  35.648855  40.647399   10.325000
7        08/11/18   Thursday  25.083333  47.743017   16.200000
8        09/11/18     Friday  29.661765  39.929348   20.446602
9        10/11/18   Saturday  42.829787  27.931217    9.583333
10       11/11/18     Sunday  37.798507  29.061111   13.069565
11       12/11/18     Monday  33.174825  40.099476   20.141667
12       13/11/18    Tuesday  43.893617  31.793651   28.933333
13       14/11/18  Wednesday  42.717391  31.715084   28.491667
14       15/11/18   Thursday  38.408759  32.410811   22.866667
15       16/11/18     Friday  24.040000  42.419162   15.867347
16       17/11/18   Saturday  44.727273  26.244444   21.555556
17       18/11/18     Sunday  56.874126  15.896739   14.658333
18       19/11/18     Monday  48.525547  26.893855   15.266667
19       20/11/18    Tuesday  25.362963  44.382514   16.483333
20       21/11/18  Wednesday  30.830769  38.248588   14.625000
21       22/11/18   Thursday  31.267176  45.072626   14.208633
22       23/11/18     Friday  19.514085  49.615789   20.284722
23       24/11/18   Saturday  33.438849  27.245989   14.395833
24       25/11/18     Sunday  37.291667  26.594737    8.993056
25       26/11/18     Monday  28.919118  31.234286   10.580420
26       27/11/18    Tuesday  35.395683  33.269006   10.033333
27       28/11/18  Wednesday  24.500000  44.322581   16.000000
28       29/11/18   Thursday  16.728571  57.117021   24.062500
29       30/11/18     Friday  23.815603  44.211640   24.652778

In [127]:
weekly_mean['Generated Date'] = pd.to_datetime(weekly_mean['Generated Date'],format = '%d/%m/%y')

In [128]:
weekly_mean

   Generated Date   Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
0      2018-11-01   Thursday  41.779412  28.446927   16.031250
1      2018-11-02     Friday  28.124088  37.536723   11.114583
2      2018-11-03   Saturday  30.036232  29.129730   11.389381
3      2018-11-04     Sunday  36.145038  31.457627   10.016667
4      2018-11-05     Monday  31.992537  45.000000   21.572816
5      2018-11-06    Tuesday  42.300000  26.585106   15.061404
6      2018-11-07  Wednesday  35.648855  40.647399   10.325000
7      2018-11-08   Thursday  25.083333  47.743017   16.200000
8      2018-11-09     Friday  29.661765  39.929348   20.446602
9      2018-11-10   Saturday  42.829787  27.931217    9.583333
10     2018-11-11     Sunday  37.798507  29.061111   13.069565
11     2018-11-12     Monday  33.174825  40.099476   20.141667
12     2018-11-13    Tuesday  43.893617  31.793651   28.933333
13     2018-11-14  Wednesday  42.717391  31.715084   28.491667
14     2018-11-15   Thursday  38.408759  32.410811   22.866667
15     2018-11-16     Friday  24.040000  42.419162   15.867347
16     2018-11-17   Saturday  44.727273  26.244444   21.555556
17     2018-11-18     Sunday  56.874126  15.896739   14.658333
18     2018-11-19     Monday  48.525547  26.893855   15.266667
19     2018-11-20    Tuesday  25.362963  44.382514   16.483333
20     2018-11-21  Wednesday  30.830769  38.248588   14.625000
21     2018-11-22   Thursday  31.267176  45.072626   14.208633
22     2018-11-23     Friday  19.514085  49.615789   20.284722
23     2018-11-24   Saturday  33.438849  27.245989   14.395833
24     2018-11-25     Sunday  37.291667  26.594737    8.993056
25     2018-11-26     Monday  28.919118  31.234286   10.580420
26     2018-11-27    Tuesday  35.395683  33.269006   10.033333
27     2018-11-28  Wednesday  24.500000  44.322581   16.000000
28     2018-11-29   Thursday  16.728571  57.117021   24.062500
29     2018-11-30     Friday  23.815603  44.211640   24.652778

### Calculate max. values for each week

### Week 1

In [129]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-01') & (weekly_mean['Generated Date']< '2018-11-08')]['O3 µg/m3'].max()

42.3

In [130]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-01') & (weekly_mean['Generated Date']< '2018-11-08')]['NO2 µg/m3'].max()

45.0

In [131]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-01') & (weekly_mean['Generated Date']< '2018-11-08')]['PM10 µg/m3'].max()

21.57281553398058

In [132]:
weekly_mean[weekly_mean["O3 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-01') & (weekly_mean['Generated Date']< '2018-11-08')]['O3 µg/m3'].max()]

  Generated Date Week Day  O3 µg/m3  NO2 µg/m3  PM10 µg/m3
5     2018-11-06  Tuesday      42.3  26.585106   15.061404

In [133]:
weekly_mean[weekly_mean["NO2 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-01') & (weekly_mean['Generated Date']< '2018-11-08')]['NO2 µg/m3'].max()]

  Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
4     2018-11-05   Monday  31.992537       45.0   21.572816

In [93]:
weekly_mean[weekly_mean["PM10 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-01') & (weekly_mean['Generated Date']< '2018-11-08')]['PM10 µg/m3'].max()]

  Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
4     2018-11-05   Monday  31.992537       45.0   21.572816

### Week 2

In [94]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-08') & (weekly_mean['Generated Date']< '2018-11-15')]['O3 µg/m3'].max()

43.8936170212766

In [95]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-08') & (weekly_mean['Generated Date']< '2018-11-15')]['NO2 µg/m3'].max()

47.74301675977654

In [96]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-08') & (weekly_mean['Generated Date']< '2018-11-15')]['PM10 µg/m3'].max()

28.933333333333334

In [97]:
weekly_mean[weekly_mean["O3 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-08') & (weekly_mean['Generated Date']< '2018-11-15')]['O3 µg/m3'].max()]

   Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
12     2018-11-13  Tuesday  43.893617  31.793651   28.933333

In [98]:
weekly_mean[weekly_mean["NO2 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-08') & (weekly_mean['Generated Date']< '2018-11-15')]['NO2 µg/m3'].max()]

  Generated Date  Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
7     2018-11-08  Thursday  25.083333  47.743017        16.2

In [99]:
weekly_mean[weekly_mean["PM10 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-08') & (weekly_mean['Generated Date']< '2018-11-15')]['PM10 µg/m3'].max()]

   Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
12     2018-11-13  Tuesday  43.893617  31.793651   28.933333

### Week 3

In [100]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-15') & (weekly_mean['Generated Date']< '2018-11-21')]['O3 µg/m3'].max()

56.87412587412587

In [101]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-15') & (weekly_mean['Generated Date']< '2018-11-21')]['NO2 µg/m3'].max()

44.38251366120219

In [103]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-15') & (weekly_mean['Generated Date']< '2018-11-21')]['PM10 µg/m3'].max()

22.866666666666667

In [104]:
weekly_mean[weekly_mean["O3 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-15') & (weekly_mean['Generated Date']< '2018-11-21')]['O3 µg/m3'].max()]

   Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
17     2018-11-18   Sunday  56.874126  15.896739   14.658333

In [105]:
weekly_mean[weekly_mean["NO2 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-15') & (weekly_mean['Generated Date']< '2018-11-21')]['NO2 µg/m3'].max()]

   Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
19     2018-11-20  Tuesday  25.362963  44.382514   16.483333

In [106]:
weekly_mean[weekly_mean["PM10 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-15') & (weekly_mean['Generated Date']< '2018-11-21')]['PM10 µg/m3'].max()]

   Generated Date  Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
14     2018-11-15  Thursday  38.408759  32.410811   22.866667

### Week 4

In [107]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-21') & (weekly_mean['Generated Date']< '2018-11-28')]['O3 µg/m3'].max()

37.291666666666664

In [66]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-21') & (weekly_mean['Generated Date']< '2018-11-28')]['NO2 µg/m3'].max()

49.61578947368421

In [67]:
weekly_mean[(weekly_mean['Generated Date']>= '2018-11-21') & (weekly_mean['Generated Date']< '2018-11-28')]['PM10 µg/m3'].max()

20.28472222222222

In [68]:
weekly_mean[weekly_mean["O3 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-21') & (weekly_mean['Generated Date']< '2018-11-28')]['O3 µg/m3'].max()]

   Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
24     2018-11-25   Sunday  37.291667  26.594737    8.993056

In [69]:
weekly_mean[weekly_mean["NO2 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-21') & (weekly_mean['Generated Date']< '2018-11-28')]['NO2 µg/m3'].max()]

   Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
22     2018-11-23   Friday  19.514085  49.615789   20.284722

In [70]:
weekly_mean[weekly_mean["PM10 µg/m3"] == weekly_mean[(weekly_mean['Generated Date']>= '2018-11-21') & (weekly_mean['Generated Date']< '2018-11-28')]['PM10 µg/m3'].max()]

   Generated Date Week Day   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
22     2018-11-23   Friday  19.514085  49.615789   20.284722

### Which hour of the month has the highest pollution?

In [108]:
daily_max = clean_data.groupby(["Generated Time"])[["O3 µg/m3", "NO2 µg/m3", "PM10 µg/m3"]].mean()
daily_max = daily_max.reset_index()
daily_max

   Generated Time   O3 µg/m3  NO2 µg/m3  PM10 µg/m3
0            0:00  30.257669  42.454128   16.841379
1           10:00  25.907514  45.352174   16.248322
2           11:00  28.178771  43.806723   16.409091
3           12:00  33.207447  37.649402   16.500000
4           13:00  38.668750  31.590698   16.472222
5           14:00  43.491429  27.953390   16.651899
6           15:00  43.865385  28.403756   16.337838
7           16:00  44.450867  29.160870   16.562092
8           17:00  44.784431  28.429864   16.545455
9           18:00  41.529070  33.377193   16.597484
10          19:00  34.836257  41.690583   16.452703
11           1:00  29.227778  40.691667   16.673333
12          20:00  28.912281  48.336283   16.555556
13          21:00  27.254438  50.098214   16.549020
14          22:00  27.763314  48.942222   16.503268
15          23:00  29.342657  45.634921   16.539474
16           2:00  30.221591  35.948498   16.852349
17           3:00  32.925287  30.766234   16.880000
18           4:00  35.517442  26.633188   16.880000
19           5:00  36.639535  24.672489   16.841060
20           6:00  36.813953  23.445415   16.723684
21           7:00  36.045977  24.120690   16.509804
22           8:00  31.903955  30.101695   16.503268
23           9:00  27.165714  40.145299   16.545455

In [109]:
maxmax = daily_max.max()
maxmax

Generated Time       9:00
O3 µg/m3          44.7844
NO2 µg/m3         50.0982
PM10 µg/m3          16.88
dtype: object

In [110]:
daily_max['O3 µg/m3'].max()

44.78443113772455

In [111]:
daily_max['NO2 µg/m3'].max()

50.098214285714285

In [112]:
daily_max['PM10 µg/m3'].max()

16.88

#### Highest value in hour O3 µg/m3

In [291]:
daily_max[daily_max["O3 µg/m3"] == daily_max['O3 µg/m3'].max()]

                 O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Time
17:00           44.784431  28.429864   16.545455

#### Highest value in hour NO2 µg/m3

In [292]:
daily_max[daily_max["NO2 µg/m3"] == daily_max['NO2 µg/m3'].max()]

                 O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Time
21:00           27.254438  50.098214    16.54902

#### Highest value in hour NO2 µg/m3

In [293]:
daily_max[daily_max["PM10 µg/m3"] == daily_max["PM10 µg/m3"].max()]

                 O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Generated Time
3:00            32.925287  30.766234       16.88
4:00            35.517442  26.633188       16.88

In [ ]:
print(df['Comedy_Score'].where(df['Rating_Score'] < 50))