<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview-of-the-clean-data" data-toc-modified-id="Overview-of-the-clean-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview of the clean data</a></span></li><li><span><a href="#How-are-the-three-polluntats-behaving?" data-toc-modified-id="How-are-the-three-polluntats-behaving?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>How are the three polluntats behaving?</a></span><ul class="toc-item"><li><span><a href="#Which-pollutants-are-measured-in-every-station?" data-toc-modified-id="Which-pollutants-are-measured-in-every-station?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Which pollutants are measured in every station?</a></span></li><li><span><a href="#Basic-statistics-per-pollutant" data-toc-modified-id="Basic-statistics-per-pollutant-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Basic statistics per pollutant</a></span></li><li><span><a href="#Relationship-between-pollutants" data-toc-modified-id="Relationship-between-pollutants-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Relationship between pollutants</a></span></li></ul></li></ul></div>

# Air quality in Barcelona in November 2018

## Overview of the clean data

In [2]:
import pandas as pd
import numpy as np

In [4]:
air_quality= pd.read_csv("data/air_quality_bcn_18_clean.csv",index_col=0)

In [77]:
air_quality.head(10)

,Station,Air Quality,O3 Quality,O3 µg/m3,NO2 Quality,NO2 µg/m3,PM10 Quality,PM10 µg/m3,Date Time,Generated Date,Generated Time,Week Day
0,Sants,Good,NaN,NaN,Good,84.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
1,Eixample,Moderate,Good,1.0,Moderate,113.0,Good,36.0,1541027104,01/11/18,0:00,Thursday
2,Gràcia,Good,Good,10.0,Good,73.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
3,Ciutadella,Good,Good,2.0,Good,86.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
4,Vall Hebron,Good,Good,7.0,Good,69.0,NaN,NaN,1541027104,01/11/18,0:00,Thursday
5,Palau Reial,Good,Good,11.0,Good,57.0,Good,23.0,1541027104,01/11/18,0:00,Thursday
6,Poblenou,Good,NaN,NaN,Good,86.0,Good,32.0,1541027104,01/11/18,0:00,Thursday
7,Observ Fabra,Good,Good,58.0,Good,3.0,Good,25.0,1541027104,01/11/18,0:00,Thursday
8,Sants,Good,NaN,NaN,Good,62.0,NaN,NaN,1541030725,01/11/18,1:00,Thursday
9,Eixample,Good,Good,6.0,Good,80.0,Good,35.0,1541030725,01/11/18,1:00,Thursday

In [11]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5744 entries, 0 to 5743
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Station         5744 non-null   object
 1   Air Quality     5583 non-null   object
 2   O3 Quality      4101 non-null   object
 3   O3 µg/m3        4101 non-null   float64
 4   NO2 Quality     5460 non-null   object
 5   NO2 µg/m3       5460 non-null   float64
 6   PM10 Quality    3647 non-null   object
 7   PM10 µg/m3      3647 non-null   float64
 8   Date Time       5744 non-null   int64
 9   Generated Date  5744 non-null   object
 10  Generated Time  5744 non-null   object
 11  Week Day        5744 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 583.4+ KB

## How are the three polluntats behaving?

Those three pollutants are harzous the humans and the ecoystems.

PM10 are small particulate matter (< 10 μm) that can be inhalate, such as solid or liquid particles contain in droplets (such dust, smoke, product of the reaction in the air of other pollutants...). Exposure to high concentrations of PM10 can result in a number of health impacts ranging from coughing and wheezing to asthma attacks and bronchitis to high blood pressure, heart attack, strokes and premature death.

When nitrogen is released during fuel combustion(traffic, factories) or from agriculture, it combines with oxygen atoms to create nitric oxide (NO). This further combines with oxygen to create nitrogen dioxide (NO2).
Nitrogen dioxide is an irritant gas, which at high concentrations causes inflammation of the airways.
NOx gases react to form smog and acid rain.


Tropospheric O3 (Ozone) refers to the O3 found at ground level. When Ozone is in the stratosphere it protect us from radiation but at ground level can damage vegetation at high concentrations.

### Which pollutants are measured in every station?

In [78]:
mean_x_station =air_quality.groupby(["Station"]).aggregate({"O3 µg/m3":"mean","NO2 µg/m3":"mean","PM10 µg/m3":"mean"})
mean_x_station

               O3 µg/m3  NO2 µg/m3  PM10 µg/m3
Station
Ciutadella    25.128388  39.855920         NaN
Eixample      17.038760  56.240683   22.781337
Gràcia        26.675466  44.574534   16.815166
Observ Fabra  65.359084  11.449213   10.773449
Palau Reial   32.021398  27.974322   14.527299
Poblenou            NaN  41.161103   20.540936
Sants               NaN  36.359165         NaN
Vall Hebron   36.367089  30.812940   13.910078

We can see in this table if we compute the mean, that some stations have no data for certain pollutant.

The station how record all of them are: **Eixample, Gràcia, Observatori Fabra, Palau Reial and Vall d'Hebron**

**We have data for NO2 from all the stations.**

**O3 has been recorded by all except for Poblenou and Sants.**

**All the stations in expection of Sants and Ciutadella have measure concentracion of PM10.**

### Basic statistics per pollutant

In [79]:
air_quality.describe()[["O3 µg/m3","NO2 µg/m3","PM10 µg/m3"]]

          O3 µg/m3    NO2 µg/m3   PM10 µg/m3
count  4101.000000  5460.000000  3647.000000
mean     34.082907    35.740293    16.590074
std      22.960687    22.357262     8.065424
min       1.000000     1.000000     2.000000
25%      14.000000    17.000000    10.000000
50%      34.000000    33.000000    15.000000
75%      52.000000    52.000000    22.000000
max     100.000000   117.000000    44.000000

* O3: It ranges from 1-100 µg/m3

* NO2: It ranges from 1-117 µg/m3

* PM10: It ranges from 2-44 µg/m3

The O3 has a similar variability than the NO2 and they values are within the same range approximately.

Higher concentrations of O3 and NO2 are found on average than for PM10.

The 50%/median is seems pretty similar to the mean. Seeing see I would asume that not extreme values are measured during this month.

### Relationship between pollutants

In [82]:
air_quality[["O3 µg/m3","NO2 µg/m3","PM10 µg/m3"]].corr()

            O3 µg/m3  NO2 µg/m3  PM10 µg/m3
O3 µg/m3    1.000000  -0.853154   -0.373025
NO2 µg/m3  -0.853154   1.000000    0.451198
PM10 µg/m3 -0.373025   0.451198    1.000000

**NO2-O3**
There is a strong relationship between the concentration of O3 and NO3. 
When nitrogen dioxide (NO2) is present in the atmosphere it breaks with the sunlight, and the O delivered react with oxigen to create tropospheric O3. That would be a possible explanation for the negative relationship (the more O3 we encounter the less NO2.

**NO2-PM10**

The realationship between NO2 and PM10 is weak and positive. 
We could think that a relationship might be found as oxides of nitrogen (NOx=NO2 + NO) are part of the reactions given in the atmosphere that results on the formation of PM.
It can be that the relationship might be another than linear or other factors are influencing.

**O3-PM10**

Those two pollutants have a weak linear relationship. 
We would expect to have some kind of realtionship because both interact in similar reaccions in the atmosphere. 
As so many other components are part of those processes maybe this is why don't see this relantionship.